body {
    font-family: 'Arima', cursive;
    font-family: 'Courgette', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;




}

/* top banner */





.conteinar-1 {
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(14, 14, 14);
    color: aliceblue;
    /* padding-left: 30px;
    padding-right: 30px; */
    padding-top: 20px;
    text-align: justify;
    width: 100%;


}

.header-img {
    padding-left: 20px;
}


h1 {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

#top-banner-button {
    background-color: red;
    color: aliceblue;
    padding: 15px;
    border-radius: 10px;
}

/*  start main-blog */
.main-blog {

    display: flex;
}

/* end main blog */
.box1 {

    margin-top: 8%;
}



/* strat blog-post */
.conteinar {
    display: grid;
    grid-template-columns: repeat(3, 342px);

}

.blog-button {
    height: 32px;
    width: 100px;
    text-align: center;
    margin: 8px;

}




.blog-post {

    height: 362px;
    width: 312px;
    border: 1px solid gray;

    border-radius: 10px;
    margin-bottom: 30px;
    padding-bottom: 20px;




}

.blog-post-h2 {
    margin: 8px;
}

i {
    margin: 8px;
    padding-bottom: 2px;
}

/* start footer */


.footer {


    background-color: rgb(14, 14, 14);
    margin-top: 20px;
    color: aliceblue;
    text-align: center;
    padding: 30px;
    width: 1321px;



}

nav {
    display: flex;
    text-align: center;
    justify-content: center;

}



hr {
    color: aqua;
}

.nevigation {
    margin-right: 20px;
    text-decoration: none;

}

.nevigation:hover {
    background-color: gray;
    padding: 8px;
    border-radius: 10px;
    color: aliceblue;

}

.nevigation:visited {
    color: white;

}

/* start botton box */
.botton-box {
    height: 312px;
    width: 312px;
    background-color: black;
    border-radius: 10px;
    margin-right: 30px;
}

.botton-box1 {
    height: 252px;
    width: 252px;
    padding: 20px;
    justify-content: center;

    text-align: center;



}

.bottons {
    width: 252px;
    height: 64px;
    text-align: center;



}

.blog {
    width: 252px;
    height: 64px;
    font-weight: 800;
    margin: 15px;
    border-radius: 10px;

}

#blog {
    background-color: red;
    color: aliceblue;
}



/* Media Queries */
/* -------------------------------------
 ;;;;;;;;; Mobile divices ;;;;;;;;
-----------------------------------------*/
@media only screen and (max-width:688px) {
    .conteinar-1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;

        padding-top: 2%;

    }

    .main-blog {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .conteinar {
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
        align-items: center;
    }

    .header-img img {
        width: 233px;
        height: 245px;
    }

    .botton-box {
        height: 312px;
        width: 312px;
        margin-bottom: 20px;
        background-color: white;
        align-items: center;
        border-radius: 10px;

    }



    .footer {
        width: 100%;
        background-color: rgb(14, 14, 14);
        margin-top: 20px;
        color: aliceblue;
        text-align: center;
        /* padding: 30px; */


        /* width: 1321px; */

    }

    nav {
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
    }


    .navigations {
        padding: 10px;
        text-align: center
    }

    #top-banner-button {
        background-color: red;
        color: aliceblue;
        padding: 3px;
        border-radius: 10px;
        width: 161px;
        margin: 20px;

    }

    h1 {
        font-size: 35px;
    }






}

/* -------------------------------------
 ;;;;;;;;; Tablat divices ;;;;;;;;
-----------------------------------------*/
@media only screen and (min-width:688px) and (max-width:992px) {
    .conteinar-1 {
        width: 100%;
        text-align: justify;

        /* text-align: center; */
        align-items: center;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 2%;

    }

    .main-blog {
        display: flex;
        flex-direction: column;
    }

    .conteinar {

        grid-template-columns: repeat(2, 1fr);
        flex-direction: column;
        align-items: center;
    }

    .header-img img {
        width: 233px;
        height: 245px;
    }

    .botton-box {
        height: 312px;
        width: 312px;
        margin-bottom: 20px;
        background-color: white;
        align-items: center;
        border-radius: 10px;

    }



    .footer {
        width: 734px;
        background-color: rgb(14, 14, 14);
        margin-top: 20px;
        color: aliceblue;
        text-align: center;
        padding: 30px;
        /* width: 1321px; */

    }


    .navigations {
        padding: 10px;
        text-align: center
    }

    #top-banner-button {
        background-color: red;
        color: aliceblue;
        padding: 3px;
        border-radius: 10px;
        width: 161px;
        margin: 20px;

    }

    h1 {
        font-size: 35px;
    }






}